body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  background-image:  url('https://t3.ftcdn.net/jpg/03/22/76/24/360_F_322762412_mGTBuhBN75GKnjVetzkC9EeK6i9KPrz1.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-size: 18px;

}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}
.blinky {
  position:absolute;
  background: url('src/disco_ball.jpeg');
  background-size: 100%;
  background-repeat: no-repeat;
  border: 0;
  width:  100px;
  height: 100px;
  animation: rotation 4s infinite linear;

}

@keyframes rotation {
  from {transform: rotate(0deg);}
  to {transform: rotate(359deg);}
}



/*@-webkit-keyframes rotation {
  from {transform: rotate(0deg);}
  to {transform: rotate(359deg);}
}*/

.flash {
  position:absolute;
  background: url('src/flash.png');
  background-size: 100%;
  background-repeat: no-repeat;
  border: 0;
  width:  100px;
  height: 100px;
}

.mcj {
  position:absolute;
  background: url('src/moonwalk1.png');
  background-size: 100%;
  background-repeat: no-repeat;
  border: 0;
  width:  100px;
  height: 100px;
}
